@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  /* Base */
  --background: oklch(0.98 0.01 181);
  --foreground: oklch(0.28 0.04 193);

  --card: oklch(0.98 0.01 181);
  --card-foreground: oklch(0.28 0.04 193);

  --popover: oklch(0.98 0.01 181);
  --popover-foreground: oklch(0.28 0.04 193);

  /* Primary (Teal-600) */
  --primary: oklch(0.51 0.09 186);
  --primary-foreground: oklch(0.98 0.01 181);

  /* Secondary (Teal-200) */
  --secondary: oklch(0.91 0.09 180);
  --secondary-foreground: oklch(0.28 0.04 193);

  /* Muted */
  --muted: oklch(0.70 0.12 183);
  --muted-foreground: oklch(0.39 0.06 188);

  /* Accent */
  --accent: oklch(0.95 0.05 181);
  --accent-foreground: oklch(0.28 0.04 193);

  /* Destructive (vermelho padrão) */
  --destructive: oklch(0.62 0.23 25);
  --destructive-foreground: oklch(0.98 0 0);

  /* Border/Input/Ring */
  --border: oklch(0.91 0.09 180);
  --input: oklch(0.91 0.09 180);
  --ring: oklch(0.78 0.13 182);

  /* Charts */
  --chart-1: oklch(0.39 0.06 188);
  --chart-2: oklch(0.44 0.07 188);
  --chart-3: oklch(0.51 0.09 186);
  --chart-4: oklch(0.60 0.10 185);
  --chart-5: oklch(0.70 0.12 183);

  /* Sidebar */
  --sidebar: oklch(0.95 0.05 181);
  --sidebar-foreground: oklch(0.28 0.04 193);
  --sidebar-primary: oklch(0.91 0.09 180);
  --sidebar-primary-foreground: oklch(0.95 0.05 181);
  --sidebar-accent: oklch(0.91 0.09 180);
  --sidebar-accent-foreground: oklch(0.28 0.04 193);
  --sidebar-border: oklch(0.95 0.05 181);
  --sidebar-ring: oklch(0.7 0.12 183);
}

.dark {
  --background: oklch(0.28 0.04 193);
  --foreground: oklch(0.98 0.01 181);

  --card: oklch(0.23 0.0325 191);
  --card-foreground: oklch(0.98 0.01 181);

  --popover: oklch(0.23 0.0325 191);
  --popover-foreground: oklch(0.98 0.01 181);

  /* Primary (Teal-500/600 no dark para contraste) */
  --primary: oklch(0.51 0.09 186);
  --primary-foreground: oklch(0.95 0.05 181);

  /* Secondary */
  --secondary: oklch(0.44 0.07 188);
  --secondary-foreground: oklch(0.98 0.01 181);

  /* Muted */
  --muted: oklch(0.23 0.0325 191);
  --muted-foreground: oklch(0.91 0.09 180);

  /* Accent */
  --accent: oklch(0.28 0.04 193);
  --accent-foreground: oklch(0.95 0.05 181);

  /* Destructive */
  --destructive: oklch(0.58 0.2 25);
  --destructive-foreground: oklch(0.98 0 0);

  /* Border/Input/Ring */
  --border: oklch(0.39 0.06 188);
  --input: oklch(0.39 0.06 188);
  --ring: oklch(0.78 0.13 182);

  /* Charts */
  --chart-1: oklch(0.78 0.13 182);
  --chart-2: oklch(0.7 0.12 183);
  --chart-3: oklch(0.6 0.1 185);
  --chart-4: oklch(0.51 0.09 186);
  --chart-5: oklch(0.85 0.13 181);

  /* Sidebar */
  --sidebar: hsl(178, 62%, 8%);
  --sidebar-foreground: oklch(0.98 0.01 181);
  --sidebar-primary: oklch(0.78 0.13 182);
  --sidebar-primary-foreground: oklch(0.98 0.01 181);
  --sidebar-accent: oklch(0.28 0.04 193);
  --sidebar-accent-foreground: oklch(0.98 0.01 181);
  --sidebar-border: oklch(0.28 0.04 193);
  --sidebar-ring: oklch(0.85 0.13 181);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  *::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(20, 184, 166, .25);
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(20, 184, 166, .35);
  }
}
